.about{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about img{
    width: 400px;
    border-radius: 10px;
}
.about-info{
    width: 500px;
    
}
.about-info h2{
    font-weight: bolder;
    font-size: 32px;
}
.about-info p{
    color: #878787;
}
.about-box{
    display: flex;
    gap: 10px;
    justify-content: space-around;
}
.education{
    background-color: #fff;
    width: 250px; 
    border-radius: 6px;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    font-size: 30px;
    border: 1px solid #eeeeee;
}
.education h3{
    font-size: 20px;
    font-weight: 500;
}
.education h4{
    font-size: 15px;
    font-weight: 300;
    
}
.education p{
    font-size: 12px;
    font-weight: 300;
    color: #878787;
}

.address{
    background-color: #fff;
    width: 250px; 
    border-radius: 6px;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    font-size: 30px;
    border: 1px solid #eeeeee;
}
.address h3{
    font-size: 20px;
    font-weight: 500;
}
.address h4{
    font-size: 15px;
    font-weight: 300;
    
}
.address p{
    font-size: 12px;
    font-weight: 300;
    color: #878787;
}

/* Responsive */
@media only screen and (max-width: 80rem) {
    .about{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .about img{
        width: 300px;
    }
    .about-info{
        width: 100%;
        margin: 20px;
        padding: 10px;
        
    }
    .about-info h2{
        font-size: 20px;
    }
    .about-info p{
        font-size: 15px;
    }
    .education p, .address p{
        font-size: 12px;
    }
}
