.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px auto;
    gap: 20px;
}
form{
    width: 700px;
    background-color: #fff;
    padding: 25px 25px 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    color: #333;
}

form h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-box{
    margin-top: 20px;
}
.input-box .field{
    width: 100%;
    height: 40px;
    background: transparent;
    border: 2px solid #ddd;
    outline: none;
    border-radius: 6px;
    padding: 15px;
    font-size: 16px;
    color: #333;
    margin-top: 8px;
}
.input-box .field.mess{
    height: 100px;
    resize: none;
}
form Button{
    width: 100%;
    height: 50px;
    font-weight: 500;
    margin-top: 10px;
}

.box{
    background-color: #fff;
    width: 300px; 
    height: 150px;
    border-radius: 6px;
    text-align: center;
    font-size: 20px;
    padding: 25px;
    margin: 20px;
    font-size: 30px
}
.box a{
    text-decoration: none;
    color: #333;
}
.box h3{
    font-size: 20px;
    font-weight: 500;
}
.box p{
    font-size: 15px;
    font-weight: 300;
    color: #878787;
}
/* Responsive */
@media only screen and (max-width: 768px) {
    form{
        width: 300px;
    }
}
